body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #333;
}

/* largura do card no modo desktop */
.container {
    max-width: 800px; /* largura maior no desktop */
    margin-top: 100px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-container {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #5a6268;
    font-weight: bold;
    white-space: normal; /* texto quebra quando necessário */
    word-wrap: break-word;
}

p {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Texto extra em destaque */
.extra-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #dc3545; /* vermelho pro destaque */
    margin-bottom: 2rem;
    padding: 15px;
    border: 1px solid #dc3545;
    background-color: #f8d7da;
    border-radius: 4px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.logo-container {
    text-align: center;
    margin-top: 30px;
}

.logo-container img {
    max-width: 150px; /* menor no desktop */
}


/* para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        margin-top: 50px;
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem; /* ajuste de tamanho no mobile */
        word-wrap: break-word; /* garante que o texto quebre corretamente no celular */
    }

    p {
        font-size: 1rem; /* ajuste de tamanho no mobile */
    }

    .btn-primary {
        width: 100%; /* ocupa a largura total no mobile */
    }

    .logo-container img {
        max-width: 150px; /* menor no mobile */
    }

    .extra-text {
        font-size: 1.1rem; /* tamanho do texto extra no mobile */
        padding: 10px; /* para caber melhor */
    }
}
