<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Não Encontrado</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/error.css" rel="stylesheet"> <!-- Referência ao novo arquivo CSS -->
</head>
<body>
    <h1 class="error-message">ID Não Encontrado</h1>
    <p>O ID <span class="error-id">{{ id }}</span> ou caminho que você procurou não foi encontrado no banco de dados.</p>
    <p class="instruction">Verifique se o ID foi digitado corretamente, incluindo a ortografia, e tente novamente.</p>
    <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
