<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; script-src 'self'; style-src 'self';">

    <title>Registrar</title>
    <!-- Incluindo o CSS externo -->
    <link rel="stylesheet" href="/static/css/registrar.css">
</head>
<body>
    <div class="container">
        <h1>Registrar Responsável e Convidados</h1>
        <form method="POST">
            <div class="form-group">
                <label for="responsavel">Responsável:</label>
                <input type="text" name="responsavel" required>
            </div>
            <div class="form-group">
                <label for="convidados">Convidados:</label>
                <input type="text" name="convidados" required>
            </div>
            <div class="form-group">
                <label for="anotacoes">Anotações:</label>
                <textarea name="anotacoes" rows="3" placeholder="Insira anotações ou observações aqui"></textarea>
            </div>
            <button type="submit" class="btn-submit">Registrar</button>
        </form>
    </div>
</body>
</html>
